#contact {
    position: relative;
    height: 40vh;
    margin-bottom: 15rem;
}
#contact .container {
    width: min(40rem, 90%);
    margin: 0 auto;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#contact li {
    position: relative;
}
#contact ul a{
    position: relative;
    background: var(--gray-800);
    padding-block: 1rem;
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all var(--transition);
    overflow: hidden;
}
#contact ul .infos {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}
#contact span {
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .8s;
}

#contact ul:has(a:hover) span   {
    opacity: 1;
}
#contact ul:has(a:hover) span:not(:hover) {
    opacity: 0;
}

#contact ul:has(a:hover) a:not(:hover) {
    opacity: .6;
    scale: .95;
}

#contact ul a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: var(--purple-800);
    transform: translateY(-100%);
    transition: all var(--transition);
}
#contact ul a:hover::after {
    width: 100%;
    transform: translateY(0%);
}



.custom-shape-divider-top-1669399821 {
    position: absolute;
    bottom: -143px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669399821 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 143px;
}

.custom-shape-divider-top-1669399821 .shape-fill {
    fill: #7C3AED;
}

.custom-shape-divider-top-1669399946 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669399946 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1669399946 .shape-fill {
    fill: #cccccc;
}