.card-project {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.cards .card-project:nth-child(even) {
  display: flex;
  justify-content: flex-start;
}

.card-project .infos {
  width: min(48rem, 100%);
  position: absolute;
  left: 0%;
  top: 8%;
  z-index: 1;
}
.cards .card-project:nth-child(even) .infos {
  left: initial;
  right: 0%;
  text-align: right;
}
.card-project p {
  background-color: var(--gray-800);
  padding: 2rem 3rem;
  margin-top: 3rem;
  border-radius: var(--border-radius-sm);
  text-align: left;
  color: var(--gray-300);
}

.card-project a {
  position: relative;
  display: flex;
  width: 58%;
  height: 30rem;
  border: 1px solid #3f3f468c;
  border-radius: var(--border-radius-sm);
  transition: all var(--transition);
}
.card-project a:hover, .card-project a:focus {
  box-shadow: 8px 5px 0 var(--violet-500), 16px 13px 0 var(--violet-600);
}
.card-project a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #553aa8;
  opacity: 0.3;
  transition: all var(--transition);
  border-radius: var(--border-radius-sm);
}
.card-project a:hover::after, .card-project a:focus::after {
  opacity: 0%;
}
.card-project a img {
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  filter: grayscale(40%);
}

.card-project ul {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  color: var(--violet-500);
  overflow: hidden;
}
.card-project:nth-child(even) ul {
  justify-content: end;
}

@media screen and (max-width: 900px) {
  .card-project {
    flex-direction: column;
    gap: 3rem;
  }
  .cards .card-project {
    align-items: flex-end;
    padding-left: 5rem;
  }
  .cards .card-project:nth-child(even) {
    align-items: flex-start;
    padding-right: 5rem;
  }
  .card-project a {
    width: 80%;
  }
  .card-project .infos {
    top: 20%;
    width: 85%;
  }
  .card-project ul {
    margin-top: 1rem;
  }

  @media screen and (max-width: 600px) {
    .cards .card-project {
      padding: initial;
    }
    .cards .card-project:nth-child(even) {
      padding: initial;
    }
    .card-project a {
      width: initial;
    }
    .card-project a::after {
      opacity: 0.7;
    }
    .card-project .infos {
      top: 35%;
      width: 93%;
      left: -1%;
    }
    .cards .card-project:nth-child(even) .infos {
      right: -1%;
    }
  }
  @media screen and (max-width: 450px) {
    .card-project .infos {
      left: -2.5%;
    }
    .cards .card-project:nth-child(even) .infos {
      right: -2.5%;
    }
  }
}