.resume-overlay{
    background-color: #18181b98;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.resume-container {
    width: 80%;
    height: 85%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}
.resume-container .box-img {
    background-color: var(--gray-800);
    width: 100%;
    height: 100%;
}
.resume-container .box-img embed{
    width: 100%;
    height: 100%;
}
.resume-container .btn-close {
    position: absolute;
    top: -5%;
    right: -5%;
    color: var(--gray-100);
}